<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <http pattern="/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/lunches" access="hasRole('ROLE_ADMIN')" method="POST"/>
        <intercept-url pattern="/lunches/*" access="hasRole('ROLE_ADMIN')" method="PUT"/>
        <intercept-url pattern="/lunches/*" access="hasRole('ROLE_ADMIN')" method="DELETE"/>

        <intercept-url pattern="/restaurants" access="hasRole('ROLE_ADMIN')" method="POST"/>
        <intercept-url pattern="/restaurants/*" access="hasRole('ROLE_ADMIN')" method="PUT"/>
        <intercept-url pattern="/restaurants/*" access="hasRole('ROLE_ADMIN')" method="DELETE"/>

        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>


    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="noopEncoder"/>
        </authentication-provider>
    </authentication-manager>


</beans:beans>